*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol, 
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html, 
body {
    height: 100%;
    line-height: 1;
    font-family: 'Gilroy';
    font-size: 18px;
    color: #000;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Bold/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Bold/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    max-width: 944px;
    margin: 0 auto;
    padding: 0 30px;
}
.header__container {
    margin-bottom: 100px;
}
.header__menu {
    padding: 35px 0px;
    border-bottom: 1px solid #828282;
}
@media (max-width: 480px) {
    .header__menu {
        padding: 0;
        border-bottom: 0;
    }
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: bold;
}
@media (max-width: 480px) {
    .menu__list {
        display: block;
        float: right;
    }
}
@media (max-width: 480px) {
    .menu__item {
        font-size: 20px;
        margin-bottom: 5px;
    }
}
.menu__link {
    line-height: 123%;
    color: #828282;
}
.menu__link:active {
    color: #000;
}
.header__author-description {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 30px 0px;
}
@media (max-width: 480px) {
    .header__author-description {
        display: block;
    }
}
.author-description__name {
    width: 130px;
    line-height: 123%;
    font-size: 47px;
    font-weight: bold;
}
.author-description__age {
    width: 165px;
    font-weight: 500;
    line-height: 121%;
}
@media (max-width: 480px) {
    .author-description__age {
        margin: 23px 0;
    }
}
.author-description__language {
    display: flex;
    margin: 0 -20px 16px 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 123%;
    transform: rotate(-90deg);
}
@media (max-width: 480px) {
    .author-description__language {
        display: none;
    }
}
.language {
    color: #828282;
}
.language:active {
    color: #000
}
.header__my-photo img{
    height: 100%;
    width: 100%;
}
.header__my-photo__mobile {
    display: none;
}
@media (max-width: 480px) {
    .header__my-photo__large-scale {
        display: none;
    }
    .header__my-photo__mobile {
        display: block;
    }
}
.page__about-me {
    background-color: #F6F6F6;
}
.about-me__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 107px;
}
.about-me__title {
    margin-bottom: 18px;
}
.title {
    font-size: 34px;
    font-weight: bold;
    line-height: 123%;
}
.about-me__subtitle {

}
@media (max-width: 480px) {
    .about-me__subtitle br{
        display: none;
    }
}
.about-me__subtitle p {
    text-align: center;
}
.about-me__subtitle__desсription:not(:last-child) {
    margin-bottom: 45px;
}
.subtitle {
    line-height: 121%;
}